# Copyright (c) 2025 Erick Bourgeois, firestoned
# SPDX-License-Identifier: MIT

name: 'Setup Docker Build Environment'
description: 'Sets up Docker Buildx and logs into GitHub Container Registry'
author: 'Erick Bourgeois <erick@firestoned.io>'

branding:
  icon: 'package'
  color: 'blue'

inputs:
  github_token:
    description: 'GitHub token for GHCR authentication'
    required: true

runs:
  using: composite
  steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ inputs.github_token }}
